/* set entire body that is webpage */
body{
	/* background: #383a3d; */
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
/* set form background colour*/
form{
	background: #fff;
}
.rp-login-form-google-message {
  color: #5f6368;
  font-size: 14px;
  line-height: 1.4286;
  margin-top: 32px;
}
.message {  
  padding-bottom: 3px;
  padding-top: 9px;
}
.lern-more {
  color: #1a73e8;
  display: inline-block;
  font-weight: 500;
  letter-spacing: .25px;
}
.login-in-instead {
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Google Sans',arial,sans-serif;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  padding: 6px 0;
  position: relative;
}
.form-control {
  border-radius: 4px;
  color: #202124;
  font-size: 16px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
  z-index: 1;
  line-height: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  height: 40px;
  border: 1px solid #dadce0;
}
.form-control:not([disabled]):focus~.email-label {
  transform: scale(.75) translateY(-39px);
  color: #1a73e8;
  left: -4px;
  visibility: visible;
}

.form-control:not([disabled]):focus~.password-label {
  transform: scale(.75) translateY(-39px);
  color: #1a73e8;
  left: -4px;
  visibility: visible;
}

@media (min-width: 601px) {
  .form-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .form-container {
    border: none !important;
  }
} 
.form-control:focus {
  box-shadow: 0 0 0 0.1rem #1a73e8;
  border-color: #1a73e8;
}
.rp-registration-form-user-detail {
  display: flex;
  flex-direction: row;
}
.rp-username-subheader {
  color: #202124;
  font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 13px;
  position: relative;
  top: -20px;
}
.rp-form-first-name {
  width: 100%;
}
@media (min-width: 901px) {
  .rp-form-first-name {
    margin-right: 16px;
  }
}
.form-group  {
  margin-bottom: 0px;
}
.email-label,.password-label { 
  background: #fff;
  bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  left: 8px;
  max-width: calc(100% - (2*8px));
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  white-space: nowrap;
  width: auto;
  z-index: 1;
  position: relative;
  color: rgba(0,0,0,0.38);
  visibility: hidden;
}

.form-control:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0,0,0,0);
  pointer-events: none;
  color: #1a73e8;
}
.form-control:not([disabled]):focus~.InputEmail1 {
  color: #1a73e8;
}
.form-footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
  flex-wrap: wrap-reverse;
}
.next-btn {
  min-width: 88px;
  padding: 0 24px 0 24px;
  background-color: #1a73e8;
  height: 35px;
}
.rp-google-label {
  color: #202124;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  padding-bottom: 0;
  padding-top: 16px;
}
.subtitle {
  font-size: 16px;
  font-weight: 200;
  opacity: .8;
}
.rp-google-sign-in-label {
  color: #202124;
  font-size: 24px;
  font-weight: 400;
  padding-top: 8px;
}
.justify-content-center {
  flex: 1 0 auto;
}
/* set padding and size of th form */
.form-container{
	border-radius: 8px;
  padding: 48px 40px 36px;
  width: 450px;
  border: 1px solid #dadce0;
  min-height: 500px;
  flex-shrink: 0;
  transition: .2s;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}
.google-account-img {
  margin: 72px 4px 0;
  text-align: center;
}
.title {
  margin-bottom: 30px;
}
#error-password, #error-email {
  color: #d93025;
  font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.img {
  margin-bottom: 16px;
  max-width: 80px;
}
.rp-google-account-log-containt {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: 48px;
  width: 300px;
}
@media (max-width: 901px) {
  .rp-google-account-log-containt {
    display: none;
  }
  .rp-registration-form-user-detail {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 901px){
  .form-container {
    width: 750px;
  }
}